In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [8]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

gdp_df.head()

In [13]:
internet_df = pd.read_csv("../data/internet_use.csv")

ParserError: Error tokenizing data. C error: Expected 4 fields in line 4675, saw 6

In [14]:
internet_df.head()

NameError: name 'internet_df' is not defined

In [12]:
internet_df.head()

NameError: name 'internet_df' is not defined

In [16]:
internet_df = pd.read_csv("../data/internet_use.csv",nrows=4496
)

In [9]:
internet_df.head()

NameError: name 'internet_df' is not defined

In [5]:
df.drop('Value Footnotes', axis=1)

NameError: name 'df' is not defined

In [6]:
internet_dr.head()

NameError: name 'internet_dr' is not defined

In [7]:
internet_df.head()

NameError: name 'internet_df' is not defined

In [8]:
internet_df.head()

NameError: name 'internet_df' is not defined

In [10]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

NameError: name 'pd' is not defined

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
%matplotlib inline

In [13]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

In [14]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN

In [15]:
gdp_df.drop('Value Footnotes', axis=1,inplace=True)

In [16]:
gdp_df.head()

  Country or Area  Year        Value
0     Afghanistan  2019  2065.036398
1     Afghanistan  2018  2033.779002
2     Afghanistan  2017  2058.383832
3     Afghanistan  2016  2057.062164
4     Afghanistan  2015  2068.265904

In [17]:
internet_df = pd.read_csv("../data/internet_use.csv")

ParserError: Error tokenizing data. C error: Expected 4 fields in line 4675, saw 6

In [18]:
internet_df = pd.read_csv("../data/internet_use.csv",nrows=4496
)

In [19]:
internet_df.head()

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN

In [20]:
internet_df.drop('Value Footnotes', axis=1,inplace=True)

In [21]:
internet_df.head()

  Country or Area  Year     Value
0     Afghanistan  2014  6.390000
1     Afghanistan  2013  5.900000
2     Afghanistan  2012  5.454545
3     Afghanistan  2011  5.000000
4     Afghanistan  2010  4.000000

In [22]:
gdp_df.head()

  Country or Area  Year        Value
0     Afghanistan  2019  2065.036398
1     Afghanistan  2018  2033.779002
2     Afghanistan  2017  2058.383832
3     Afghanistan  2016  2057.062164
4     Afghanistan  2015  2068.265904